/ {
	behaviors {
		p2sm_sensitivity: p2sm_sensitivity {
			compatible = "zmk,behavior-p2sm-sens";
			#binding-cells = <2>;
			display-name = "Pointer sensitivity";
			step = <125>;
			min-step = <1>;
			max-step = <1000>; // 1000 is effectively equivalent to "any"
		};

		p2sm_scroll_sensitivity: p2sm_scroll_sensitivity {
			compatible = "zmk,behavior-p2sm-sens";
			#binding-cells = <2>;
			display-name = "Scroll sensitivity";
			step = <250>;
			max-multiplier = <1>;
			min-step = <1>;
			max-step = <1000>;
			scroll;
		};
	};
};
