# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_POINTING

config ZMK_POINTER_2S_MIXER
    bool "2-sensor pointer mixer"
    default y
    depends on INPUT

endif

if ZMK_POINTER_2S_MIXER

config POINTER_2S_MIXER_LAZY_INIT
  bool "Lazy init"
  default n
  help
    Make all the calculations not on boot but on fist data event (useful to see logs)

config POINTER_2S_MIXER_ENSURE_SYNC
  bool "Ensure data from both sensors"
  default y
  help
    Do not calculate anything until both sensor start to report data

config POINTER_2S_MIXER_SYNC_WINDOW_MS
  int "Data from both sensors must come in this window"
  default 24

config POINTER_2S_MIXER_REMAINDER_TTL
  int "X/Y float remainder TTL, msec"
  default 16

config POINTER_2S_MIXER_TWIST_REMAINDER_TTL
  int "Scroll float remainder TTL, msec"
  default 32

config POINTER_2S_MIXER_TWIST_FILTER_TTL
  int "Singular events in this timeframe (msec) will be filtered out"
  default 250

config POINTER_2S_MIXER_TWIST_NO_FILTER_THRES
  int "Do not apply threshold filters this amount of msec after previous scroll event"
  default 12

config POINTER_2S_MIXER_DIRECTION_FILTER_EN
  bool "Direction filter"
  default y
  help
    First event in the opposite direction will be filtered out

config POINTER_2S_MIXER_DIRECTION_FILTER_TTL
    int "Direction filter value TTL, milliseconds"
    default 500

config POINTER_2S_MIXER_34_FILTER_EN
  bool "3/4 filter"
  default y
  help
    Filter out movement events where 3 out of 4 values are below threshold

config POINTER_2S_MIXER_SIGNIFICANT_MOVEMENT_MUL
  int "Significant movement multiplier"
  default 4
  help
    Helps filtering by discarding significant movement early. Keep in range 2-10

endif # ZMK_POINTER_2S_MIXER
