# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_MOUSE

config ZMK_INPUT_PROCESSOR_MIXER
    bool "Event Mixer Input Processor"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_MIXER_ENABLED

endif
