# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_POINTER_2S_MIXER

config POINTER_2S_MIXER_SENS_DRIFT_CORRECTION
  int "Sensitivity drift correction threshold"
  default 15
  help
    In percents * 10. Value of 15 represents correction of ≥1.5% drift

config POINTER_2S_MIXER_SENS_MAX_DEVICES
  int "Maximum sensitivity cyclers in device tree"
  default 6

config POINTER_2S_MIXER_FEEDBACK_MAX_ARR_VALUES
  int "Maximum items in feedback pattern array"
  default 8

config POINTER_2S_MIXER_SETTINGS_SAVE_DELAY
  int "Debounce of the save operation, msec"
  default 2500

config POINTER_2S_MIXER_SENS_LOG_EN
  bool "Enable sensitivity cycler log"
  default y

endif # ZMK_POINTER_2S_MIXER
