#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    /omit-if-no-ref/ zip_2s_mixer: zip_2s_mixer {
        compatible = "zmk,pointer-2s-mixer";
        #input-processor-cells = <1>;
        sync-report-ms = <4>;
        sync-report-yaw-ms = <16>;
        yaw-div = <32>;
		yaw-mul = <1>;
		yaw-interference-thres = <42>;
        sensor1-pos = [00 80 00];
        sensor2-pos = [ff 80 00];
        ball-radius = <100>;
    };
};
